.div{
    background-color: aqua;
    height: 150px;
    width: 96.5%;
    margin-left: 1.8%;
    
}
.div1{
    background-color: azure;
    height: 50px;
    width: 200px;
}
.divgallery{
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }