* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
 
.wrapper {
    width: 100%;
    height: 900px;
    margin: auto;
    font-family: "Poppins",sans-serif;
}
 
.col-1 {
    width: 8.33%;
}
 
.col-2 {
    width: 16.66%;
}
 
.col-3 {
    width: 25%;
}
 
.col-4 {
    width: 33.33%;
}
 
.col-5 {
    width: 41.66%;
}
 
.col-6 {
    width: 50%;
}
 
.col-7 {
    width: 58.33%;
}
 
.col-8 {
    width: 66.66%;
}
 
.col-9 {
    width: 75%;
}
 
.col-10 {
    width: 83.33%;
    background-color: aqua;
    margin-left: 50px;
}
 
.col-11 {
    width: 81.66%;
}
 
.col-12 {
    width: 100%;
    background-color: rgb(245, 211, 166);
}
 
.header-txt {
    text-align: center;
    color: aliceblue;
    margin-top: 5%;
}
 
.header-img {
    margin-top: 2%;
    text-align: center;
}
 
.options {
    height: 30px;
    margin-left: 10px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 22px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    box-shadow: 2px 2px 5px 0px rgb(117, 98, 98);
}
 
.options:hover {
    background-color: #2d312d;
    color: aliceblue;
}
 
.options:active {
    box-shadow: 0px 5px rgba(250, 250, 250, 0.541);
    transform: translateY(2px);
}
 
.header {
    height: 280px;
    width: 98%;
    background-color: rgba(111, 243, 39, 0.87);
    margin-left: 1%;
    margin-top: 2%;
}
 
img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 2px 3px 6px rgb(6, 2, 22);
}
 
[ class*='col-'] {
    float: left;
    border: 4px solide red;
}
 
.content-height {
    height: 500px;
}
 
.footer-height {
    height: 300px;
}
.col-2 {
    margin-left: 20px;
    margin-top: 15px;
}
.option-body {
    height: 50px;
    width: 98%;
    background-color: rgb(37, 37, 37);
    margin-left: 1%;
}
.bar{
    font-size: 30px;
    color: rgb(252, 249, 249);
    margin-left: 10px;
    cursor: pointer;
}
.overlay {
    height: 90%;
    position: fixed;
    z-index: 1;
    background-color: rgb(0,0,0);
    overflow-x: hidden;
    transition: 1s linear;
    display: block;
    width: 0;
}
 
  .overlay-content {
    position: relative;
    top: 15%;
    margin-top: 10px;
    display: inline-block;
  }
.nnt{
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin-left: 20px;
}
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
 
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
 
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
 
  @media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  } 
